<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-thumbnail>
          <img src="../assets/icon/logo-rcc.png" width="100px" />
        </ion-thumbnail>
      </ion-buttons>
    <ion-title><h1>RCC - Zona 9</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6" size-sm="2">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-icon slot="start" name="calendar" class="jamc-font-size-40" color="primary"></ion-icon>
          <br>
          <ion-text color="dark">
            Calendario
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" size-sm="2">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-icon slot="start" name="cash" class="jamc-font-size-40" color="primary"></ion-icon>
          <br>
          <ion-text color="dark">
            Caja
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" size-sm="2">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-icon slot="start" name="people" class="jamc-font-size-40" color="primary"></ion-icon>
          <br>
          <ion-text color="dark">
            Hermanos
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" size-sm="2">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-icon slot="start" name="calendar" class="jamc-font-size-40" color="primary"></ion-icon>
          <br>
          <ion-text color="dark">
            Grupo de oracion
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
