<app-header titulo="Calendario"></app-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>21-05-1980</ion-card-subtitle>
            <ion-card-title>Reunion Zonal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            debemos traer esto y aquello
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>21-05-1980</ion-card-subtitle>
            <ion-card-title>Reunion Zonal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            debemos traer esto y aquello
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>21-05-1980</ion-card-subtitle>
            <ion-card-title>Reunion Zonal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            debemos traer esto y aquello
        </ion-card-content>
    </ion-card>
</ion-content>