<app-header titulo="Enlaces"></app-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon slot="start" name="videocam"></ion-icon>
            <ion-label>
                <h2>Zoom</h2>
                Enlace para reunión
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            <ion-label>
                <h2>Facebook</h2>
                Formacion para servidores
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            <ion-label>
                <h2>Facebook</h2>
                Retiro diocesano
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
