<app-header titulo="Hermanos"></app-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <h2>coordinador</h2>
                Luis fernando Mayta Campos
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>coordinador</h2>
                Luis fernando Mayta Campos
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>coordinador</h2>
                Luis fernando Mayta Campos
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
