/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Acme&Poppins:ital,wght@1,900&display=swap');

body{
    font-family: 'Acme', sans-serif;
    ;
}

$sizes: "10","15", "20", "30", "40", "80";
@each $size in $sizes {
    .my-font-#{$size} {
        font-size: #{$size}px;
    }
}

.bg-red2-dark {
    background-color: #DA4453;
    color: #FFFFFF;
}
.rounded-s {
    border-radius: 8px ;
}
.alert{
    margin-top: 6px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    span{
        background-color: rgba(255,255,255,0.2);
        position: absolute;
        left: -1px;
        top: -1px;
        bottom: -1px;
        width: 47px;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
    h4{
        padding-left: 47px;

    }
    strong{
        display: block;
        padding-left: 47px;
        font-weight: 400;
    }
    
}
.color-white {
    color: #fff !important;
}